<!DOCTYPE html>
<html lang="en" ng-app="csvApp">
<head>
    <title>CSV Viewer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
    <script src="js/csvApp.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div ng-controller="csvAppCtrl">

    <h2> CSV Viewer</h2>

    <div class="form-group">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile04" name="file" file-on-change="uploadFile"
                       aria-describedby="inputGroupFileAddon04"> <label
                    class="custom-file-label" for="inputGroupFile04">Choose
                file</label>
                </input>
            </div>
            <div class="input-group-append">
                <input type="submit" class="btn btn-outline-secondary" name="submit"
                       id="inputGroupFileAddon04"></button>
            </div>
        </div>
    </div>

    <div class="form-group" >
        <label for="operator">Filter by issue count</label>
        <div class="form-inline">
            <select class="custom-select" id="operator" class="col-lg-5">
                <option selected>Select Operator</option>
                <option value="eq">Equal To</option>
                <option value="lt">Less Than</option>
                <option value="gt">Greater Than</option>
                <option value="nt">Not Equal To</option>
            </select>
            <input type="text" id="operatorText" class="form-control col-lg-1" aria-label=""  ng-model="val">
            <div class="col-lg-1"></div>
            <button type="submit" class="btn btn-primary col-lg-1" ng-click="filter()" >Go</button>
            <div class="col-lg-1"></div>
            <button type="submit" class="btn btn-secondary col-lg-3" ng-click="clearFilter()">Clear filter</button>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 alert alert-danger" ng-if="errorMessage!=undefined">{{errorMessage}}</div>
        </div>
    </div>

    <div ng-if="records !== undefined">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Issue Count
                    </th>
                    <th scope="col">Date of birth</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in records ">
                        <td>{{record.Firstname}}</td>
                        <td>{{record.Surname}}</td>
                        <td>{{record.Issuecount}}</td>
                        <td>{{record.Dateofbirth}}</td>
                    </tr>
                </tbody>
            </table>
        </div>



</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>